body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #222;
    color: #fff;
    padding: 15px;
    text-align: center;
}

nav{
    background-color: black;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    color: white;
}

h2 {
    color: #333;
}

p {
    line-height: 1.4;
}


div p br {
    display: block;
    content: " ";
    margin: 10px 0;
}
